#title-bar {
 -webkit-app-region: drag;
 height: 24px;
 padding: none;
 margin: 0px;
}

#title {
 position: fixed;
 top: 0px;
 left: 6px;
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 6px;
 margin: 6px;
}

#menu-btn {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 left: 6px;
 margin: 6px;
}

.sidenav {
    height:100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #CA009F;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
