body{
  background-image: url("../img/index/background.jpg");
  background-repeat: no-repeat;
}

input{
  position:absolute;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  top: 60%;
  right:30%;
  left:30%;
  height: 7%;
  width:40%
}

footer{
  text-align: center;
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
