body{
  background-image: url("../img/index/background.jpg");
  background-repeat: no-repeat;
}

#search{
  list-style: none;
  display:inline-block;
}

input{
  position:absolute;
  top: 60%;
  right:30%;
  left:30%;
  height: 7%;
  width:40%
}

#go-btn{
  position:absolute;
  background-color: #4AC2D5;
  top: 60%;
  left:70%;
  height:7.7%;
  width:10%
}

footer{
  text-align: center;
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
