body{
  background-image: url("../img/index/background.jpg");
  background-repeat: no-repeat;
}

#title-bar {
 -webkit-app-region: drag;
 height: 24px;
 padding: none;
 margin: 0px;
}

#title {
 position: fixed;
 top: 0px;
 left: 6px;
}

#title-bar-btns {
 -webkit-app-region: no-drag;
 position: fixed;
 top: 0px;
 right: 6px;
 margin: 6px;
}

#menu-btn {
 position: fixed;
 top: 0px;
 left: 6px;
 margin: 6px;
}

input{
  position:absolute;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  top: 60%;
  right:20%;
  left:20%;
  height: 7%;
  width:60%
}

footer{
  text-align: center;
  color: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
