body{
  background-image: url("../img/index/background2.jpg");
  background-repeat: no-repeat;
}

#profile{
  width: 280px;
  height:80%;
  position:fixed;
  background-color: #4AC2D5;
  font-size: 0;
  float:left;
}

#summoner-icon{
  clear: both;
  float:left;
  padding-left:20px;
  padding-top: 20px;
}

#summoner-name{
  padding-top: 10px;
  color:#FFF;
  padding-right:20px;
  padding-left: 0;
  font-size: 30px;
  float:right;
}

#ranked-icon{
  width: 100px;
  float: left;
  padding-top: 10px;
}

#ranked-stats{
  color:#FFF;
  float: right;
  padding-right: 20px;
  font-size: 20px;
}

#most-played{
  clear:both;
  list-style:none;
  margin:0;
  padding:0;
  height:inherit;
  overflow-y:auto;
  color: #FFF;
  text-shadow: 2px 2px #000;
}
.most-played-champs{
  width: 260px;
  height: 100px;
  display:block;
  font-size: 15px;
}

#tabs{
  padding-left: 300px;
  list-style: none;
  font-size: 0;
}

#tabs li{
  display: inline-block;
  cursor: pointer;
  background-color: #FFF;
  font-size: 20px;
  border-style: solid;
  border-color: #000;
  border-width: 5px;
  border-left: none;
}

#tabs li:first-child{
  border-left: solid 5px #000;
}
